/* GLOBAL STYLES */
body {
  font-family: 'Times New Roman', serif;
  background-color: #f5f6fa;
  color: #444;
  line-height: 1.6;
}

.section-title {
  color:  #3b1604;
}

.highlight {
  color:  #3b1604;
}

/* NAVIGATION BAR*/
.main-header .navbar {
  background-color:  #3b1604;
}

/* CAROUSELS */
.carousel-img {
  max-height: 500px;
  object-fit: cover;
}

/* US SECTION*/
.us ul {
  list-style: none;
  padding-left: 0;
}

.us ul li {
  margin-bottom: 10px;
}

/* MORE SECTION */
.card-box {
  width: 18rem;
  margin: 0 auto;
}

/* SERVICES */
.service-card {
  background-color: #3b1604;
  color: white;
}

/* FOOTER */
.footer {
  background-color: #3b1604;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
}

.footer a {
  color: #cfdce6;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* SIGN UP BUTTON */
.signup-btn {
  background-color: rgb(161, 126, 193);
}
