/* GLOBAL STYLES */
body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background: #f5f5f5;
}



/* NAVBAR */

.main-header {
    background:  #5b2c04; /* UMU green */
    padding: 5px 0;
}

.navbar-brand img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.university-title h2 {
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
}

.university-title p {
    color: #fff;
    font-size: 0.9rem;
    margin-top: -5px;
}

.highlight-initial {
    color: #ffcc00; 
    font-weight: 700;
}

.navbar-nav .nav-link {
    font-size: 1rem;
    font-weight: 500;
    color: #fff !important;
    margin-left: 15px;
    transition: 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #ffcc00 !important;
}



/* LOGIN WRAPPER */

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}



/* LOGIN CONTAINER*/

.login-container {
    width: 380px;
    background: #fff;
    padding: 30px 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
}



/* TABS */

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tab {
    width: 48%;
    padding: 10px;
    background: #ddd;
    border: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    transition: 0.3s ease;
}

.tab.active {
    background: #5b2c04;
    color: #fff;
}



/* FORM STYLING */

.form {
    display: none;
}

.form.active {
    display: block;
}

.form h2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

.input-field {
    margin-bottom: 15px;
}

.input-field label {
    font-size: 0.9rem;
    font-weight: 500;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
    margin-top: 5px;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background: #5b2c04;
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.submit-btn:hover {
    background:  #5b2c04;
}

.forgot {
    text-align: center;
    margin-top: 10px;
    font-size: 0.9rem;
    cursor: pointer;
    color: #0055aa;
}



/* FOOTER */

footer {
    width: 100%;
    text-align: center;
    background: #5b2c04;
    color: #fff;
    padding: 18px 10px;
    margin-top: 40px;
}

footer p {
    margin: 3px 0;
    font-size: 0.95rem;
}

footer strong {
    color: #ffcc00;
}
